<section class="relative w-full h-[500px] bg-cover bg-center flex items-center justify-center text-center text-white" style="background-image: url('');">
  <div class="bg-black bg-opacity-50 p-6 rounded-lg">
    <h1 class="text-5xl font-bold">مرحبًا بكم في المنتور</h1>
    <p class="text-lg mt-4">تمكين الفرق من خلال حلول التعلم التي يقودها الخبراء</p>
    <a href="https://account.almentor.net/en/signup?r=https://payment.almentor.net/setup-account" class="mt-6 px-6 py-3 bg-red-600 hover:bg-red-700 text-white font-bold rounded-lg inline-block">ابدأ الآن</a>
  </div>
</section>
